MYSQL_ROOT_USER=?????
MYSQL_ROOT_PASSWORD=?????

MYSQL_USER=?????
MYSQL_PASSWORD=?????

WP_USER=?????
WP_USER_PASS=?????
WP_USER_MAIL=?????@?????.42.fr

WP_ADMIN=?????
WP_ADMIN_PASS=?????
WP_ADMIN_MAIL=?????@?????.42.fr
